.box {
    background-color: #fff;
    padding: 15px
  }
  .list {
    width: 100%;
    height: 300px;
    overflow: auto;
  }
  .list .table.table--custom {
    width: 1080px;
    border-collapse: separate;
    border-spacing: 0;
  }
  .hr--custom {
    border-width: 1px;
    border-color: #343a40;
  }
