.box {
    background-color: #fff;
    padding: 15px
}
.list {
    max-height: 400px;
    overflow-y: auto;
}
.search-form {
    max-width: 100px;
    display: inline-block;
}
.hr--custom {
    border-color: #343a40;
}